.btn-size
{
    max-width: 200px;
    width: 100%;
    margin-bottom: 2px;
    margin-top: 2px;
    overflow: hidden;
    color: white;
}
.txtbox-size
{
    /*width: 260px;*/
    max-width: 400px;
}
body
{
    background: url("../resources/bg.jpg");
    background-position: center center;

    /* 背景图不平铺 */
    background-repeat: no-repeat;

    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;

    /* 让背景图基于容器大小伸缩 */
    background-size: cover;

    /* 设置背景颜色，背景图加载过程中会显示背景色 */
    background-color: #464646;  
}

a:hover{
    opacity: 0.6;
    background-color: blue;
}
.glass-theme
{
    background-color: rgba(0,0,0,0.2);
    color: limegreen;
    padding: 20px;
}
.row{
    color:white;
}

.footer{
    width: 100%;
    bottom:0;
    right: 0; 
    position:fixed;
    padding:20px;
    background-color: rgba(0,0,0,0.2);
    margin: 0;
    font-size: 15px;
    color: white;
}
.link{
    color:  #c74c1d;
    text-decoration: underline;
}

.label{
    color:red;
    font-size: 25px;
}

.btn-search{
    background-color: #b9064e;
}
.btn-community{
    background-color: #c74c1d;
}
.btn-shopping{
    background-color: #d07e27;
}
.btn-video{
    background-color: #dace39;
}
.btn-trip{
    background-color: #2ad235;
}
.btn-tool{
    background-color: #1cca96;
}

.items{
   padding-bottom: 30px;
}

.group-title{
   font-size: 20px;
   padding: 0px;
   margin: 0;
}

h1{
    font-family: Edwardian Script ITC;
    font-size: 100px;
}
.subtitle{
    font-size: 18px;
    color: white;
}