.btn-size
{
    width: 100px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.txtbox-size
{
    width: 210px;
}
.bg-image
{
    background-image: url("../resources/bg02.jpg");
}
.glass-theme
{
    background-color: rgba(0,0,0,0.2);
    color: limegreen;
}
.row{
    color:white;
}