.btn-size
{
    width: 110px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.txtbox-size
{
    width: 260px;
}
.bg-image
{
    background-image: url("../resources/bg01.jpg");
}
.glass-theme
{
    background-color: rgba(0,0,0,0.2);
    color: limegreen;
}
.row{
    color:white;
}

.footer{
    bottom:10px;
    position:fixed;
}
.footer{
    bottom:10px;
    position:fixed;
}
.link{
    color: sandybrown;
}

.label{
    color:sandybrown;
}

.btn-search{
    background-color: #b312b9;
}
.btn-community{
    background-color: #c74c1d;
}
.btn-shopping{
    background-color: #d07e27;
}
.btn-video{
    background-color: #dace39;
}
.btn-trip{
    background-color: #2ad235;
}
.btn-tool{
    background-color: #1cca96;
}
